@import "variables";

@font-face {
  font-family: '#{$icomoon-font-family}';
  src:
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?t9ssam') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?t9ssam') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?t9ssam##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.ha {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ha-premium-star {
  &:before {
    content: $ha-premium-star;
  }
}
.ha-bunny-hat {
  &:before {
    content: $ha-bunny-hat;
  }
}
.ha-broken-wand {
  &:before {
    content: $ha-broken-wand;
  }
}
.ha-magic-wand {
  &:before {
    content: $ha-magic-wand;
  }
}
.ha-missing-info {
  &:before {
    content: $ha-missing-info;
  }
}
.ha-wand {
  &:before {
    content: $ha-wand;
  }
}
.ha-lightning-bolt {
  &:before {
    content: $ha-lightning-bolt;
  }
}
.ha-postgraduate {
  &:before {
    content: $ha-postgraduate;
  }
}
.ha-promise {
  &:before {
    content: $ha-promise;
  }
}
.ha-job-hand {
  &:before {
    content: $ha-job-hand;
  }
}
.ha-job-shine {
  &:before {
    content: $ha-job-shine;
  }
}
.ha-invoice {
  &:before {
    content: $ha-invoice;
  }
}
.ha-companies-l {
  &:before {
    content: $ha-companies-l;
  }
}
.ha-jobseeker {
  &:before {
    content: $ha-jobseeker;
  }
}
.ha-restricted-job {
  &:before {
    content: $ha-restricted-job;
  }
}
.ha-check {
  &:before {
    content: $ha-check;
  }
}
.ha-hosco-shine-fill {
  &:before {
    content: $ha-hosco-shine-fill;
  }
}
.ha-arrow-loader {
  &:before {
    content: $ha-arrow-loader;
  }
}
.ha-edit-new {
  &:before {
    content: $ha-edit-new;
  }
}
.ha-plus-linecircle {
  &:before {
    content: $ha-plus-linecircle;
  }
}
.ha-plus-fillcircle {
  &:before {
    content: $ha-plus-fillcircle;
  }
}
.ha-linkedin-sync {
  &:before {
    content: $ha-linkedin-sync;
  }
}
.ha-jobalert-modal {
  &:before {
    content: $ha-jobalert-modal;
  }
}
.ha-bell-alert {
  &:before {
    content: $ha-bell-alert;
  }
}
.ha-suggested-jobs {
  &:before {
    content: $ha-suggested-jobs;
  }
}
.ha-strong {
  &:before {
    content: $ha-strong;
  }
}
.ha-take-off {
  &:before {
    content: $ha-take-off;
  }
}
.ha-advice {
  &:before {
    content: $ha-advice;
  }
}
.ha-sjp {
  &:before {
    content: $ha-sjp;
  }
}
.ha-edit {
  &:before {
    content: $ha-edit;
  }
}
.ha-payment-fail {
  &:before {
    content: $ha-payment-fail;
  }
}
.ha-payment-success {
  &:before {
    content: $ha-payment-success;
  }
}
.ha-champagne {
  &:before {
    content: $ha-champagne;
  }
}
.ha-share {
  &:before {
    content: $ha-share;
  }
}
.ha-comment-like {
  &:before {
    content: $ha-comment-like;
  }
}
.ha-laurel-member {
  &:before {
    content: $ha-laurel-member;
  }
}
.ha-companies-modal {
  &:before {
    content: $ha-companies-modal;
  }
}
.ha-connected {
  &:before {
    content: $ha-connected;
  }
}
.ha-message-notif {
  &:before {
    content: $ha-message-notif;
  }
}
.ha-share-profile {
  &:before {
    content: $ha-share-profile;
  }
}
.ha-user-star {
  &:before {
    content: $ha-user-star;
  }
}
.ha-member-group {
  &:before {
    content: $ha-member-group;
  }
}
.ha-message {
  &:before {
    content: $ha-message;
  }
}
.ha-dashboard {
  &:before {
    content: $ha-dashboard;
  }
}
.ha-call-back {
  &:before {
    content: $ha-call-back;
  }
}
.ha-draft {
  &:before {
    content: $ha-draft;
  }
}
.ha-job-search {
  &:before {
    content: $ha-job-search;
  }
}
.ha-clock {
  &:before {
    content: $ha-clock;
  }
}
.ha-clock-forward {
  &:before {
    content: $ha-clock-forward;
  }
}
.ha-ligthning {
  &:before {
    content: $ha-ligthning;
  }
}
.ha-member-search {
  &:before {
    content: $ha-member-search;
  }
}
.ha-waving-hand {
  &:before {
    content: $ha-waving-hand;
  }
}
.ha-finger-up {
  &:before {
    content: $ha-finger-up;
  }
}
.ha-no-mail {
  &:before {
    content: $ha-no-mail;
  }
}
.ha-tc {
  &:before {
    content: $ha-tc;
  }
}
.ha-index-in {
  &:before {
    content: $ha-index-in;
  }
}
.ha-index-out {
  &:before {
    content: $ha-index-out;
  }
}
.ha-mobile {
  &:before {
    content: $ha-mobile;
  }
}
.ha-availability {
  &:before {
    content: $ha-availability;
  }
}
.ha-status {
  &:before {
    content: $ha-status;
  }
}
.ha-remove-team {
  &:before {
    content: $ha-remove-team;
  }
}
.ha-invite-team {
  &:before {
    content: $ha-invite-team;
  }
}
.ha-permissions {
  &:before {
    content: $ha-permissions;
  }
}
.ha-roundsquare-hosco {
  &:before {
    content: $ha-roundsquare-hosco;
  }
}
.ha-burger {
  &:before {
    content: $ha-burger;
  }
}
.ha-round-fb {
  &:before {
    content: $ha-round-fb;
  }
}
.ha-round-hosco {
  &:before {
    content: $ha-round-hosco;
  }
}
.ha-round-insta {
  &:before {
    content: $ha-round-insta;
  }
}
.ha-round-linkd {
  &:before {
    content: $ha-round-linkd;
  }
}
.ha-round-twtt {
  &:before {
    content: $ha-round-twtt;
  }
}
.ha-round-yt {
  &:before {
    content: $ha-round-yt;
  }
}
.ha-laurea {
  &:before {
    content: $ha-laurea;
  }
}
.ha-targeted {
  &:before {
    content: $ha-targeted;
  }
}
.ha-premium-light {
  &:before {
    content: $ha-premium-light;
  }
}
.ha-premium {
  &:before {
    content: $ha-premium;
  }
}
.ha-premium-plus {
  &:before {
    content: $ha-premium-plus;
  }
}
.ha-thumbs-up {
  &:before {
    content: $ha-thumbs-up;
  }
}
.ha-handshake {
  &:before {
    content: $ha-handshake;
  }
}
.ha-love-thanks {
  &:before {
    content: $ha-love-thanks;
  }
}
.ha-hand-stop {
  &:before {
    content: $ha-hand-stop;
  }
}
.ha-neck-tie {
  &:before {
    content: $ha-neck-tie;
  }
}
.ha-who {
  &:before {
    content: $ha-who;
  }
}
.ha-update {
  &:before {
    content: $ha-update;
  }
}
.ha-hosco-shine {
  &:before {
    content: $ha-hosco-shine;
  }
}
.ha-rocket {
  &:before {
    content: $ha-rocket;
  }
}
.ha-erase {
  &:before {
    content: $ha-erase;
  }
}
.ha-job-app-rejected {
  &:before {
    content: $ha-job-app-rejected;
  }
}
.ha-job-app-sent {
  &:before {
    content: $ha-job-app-sent;
  }
}
.ha-job-app {
  &:before {
    content: $ha-job-app;
  }
}
.ha-remove {
  &:before {
    content: $ha-remove;
  }
}
.ha-story {
  &:before {
    content: $ha-story;
  }
}
.ha-cross {
  &:before {
    content: $ha-cross;
  }
}
.ha-heart-broken {
  &:before {
    content: $ha-heart-broken;
  }
}
.ha-message-sent {
  &:before {
    content: $ha-message-sent;
  }
}
.ha-nationality {
  &:before {
    content: $ha-nationality;
  }
}
.ha-review {
  &:before {
    content: $ha-review;
  }
}
.ha-login {
  &:before {
    content: $ha-login;
  }
}

