$icomoon-font-family: "HoscoAwesome" !default;
$icomoon-font-path: "fonts" !default;

$ha-premium-star: "\e95b";
$ha-bunny-hat: "\e956";
$ha-broken-wand: "\e955";
$ha-magic-wand: "\e957";
$ha-missing-info: "\e958";
$ha-wand: "\e959";
$ha-lightning-bolt: "\e95a";
$ha-postgraduate: "\e953";
$ha-promise: "\e954";
$ha-job-hand: "\e950";
$ha-job-shine: "\e951";
$ha-invoice: "\e952";
$ha-companies-l: "\e94e";
$ha-jobseeker: "\e94f";
$ha-restricted-job: "\e94d";
$ha-check: "\e94c";
$ha-hosco-shine-fill: "\e94b";
$ha-arrow-loader: "\e94a";
$ha-edit-new: "\e946";
$ha-plus-linecircle: "\e947";
$ha-plus-fillcircle: "\e948";
$ha-linkedin-sync: "\e949";
$ha-jobalert-modal: "\e90e";
$ha-bell-alert: "\e945";
$ha-suggested-jobs: "\e944";
$ha-strong: "\e943";
$ha-take-off: "\e942";
$ha-advice: "\e941";
$ha-sjp: "\e912";
$ha-edit: "\e93d";
$ha-payment-fail: "\e939";
$ha-payment-success: "\e93a";
$ha-champagne: "\e93b";
$ha-share: "\e93c";
$ha-comment-like: "\e93e";
$ha-laurel-member: "\e93f";
$ha-companies-modal: "\e940";
$ha-connected: "\e938";
$ha-message-notif: "\e937";
$ha-share-profile: "\e97d";
$ha-user-star: "\e97a";
$ha-member-group: "\e97b";
$ha-message: "\e986";
$ha-dashboard: "\e988";
$ha-call-back: "\e930";
$ha-draft: "\e931";
$ha-job-search: "\e932";
$ha-clock: "\e933";
$ha-clock-forward: "\e934";
$ha-ligthning: "\e935";
$ha-member-search: "\e936";
$ha-waving-hand: "\e92f";
$ha-finger-up: "\e914";
$ha-no-mail: "\e92b";
$ha-tc: "\e92c";
$ha-index-in: "\e92d";
$ha-index-out: "\e92e";
$ha-mobile: "\e92a";
$ha-availability: "\e929";
$ha-status: "\e91f";
$ha-remove-team: "\e91e";
$ha-invite-team: "\e91c";
$ha-permissions: "\e91d";
$ha-roundsquare-hosco: "\e91b";
$ha-burger: "\e913";
$ha-round-fb: "\e915";
$ha-round-hosco: "\e916";
$ha-round-insta: "\e917";
$ha-round-linkd: "\e918";
$ha-round-twtt: "\e919";
$ha-round-yt: "\e91a";
$ha-laurea: "\e922";
$ha-targeted: "\e910";
$ha-premium-light: "\e911";
$ha-premium: "\e920";
$ha-premium-plus: "\e921";
$ha-thumbs-up: "\e923";
$ha-handshake: "\e924";
$ha-love-thanks: "\e925";
$ha-hand-stop: "\e926";
$ha-neck-tie: "\e927";
$ha-who: "\e928";
$ha-update: "\e90f";
$ha-hosco-shine: "\e90c";
$ha-rocket: "\e90d";
$ha-erase: "\e907";
$ha-job-app-rejected: "\e908";
$ha-job-app-sent: "\e909";
$ha-job-app: "\e90a";
$ha-remove: "\e90b";
$ha-story: "\e900";
$ha-cross: "\e901";
$ha-heart-broken: "\e902";
$ha-message-sent: "\e903";
$ha-nationality: "\e904";
$ha-review: "\e905";
$ha-login: "\e906";
